.grid2{
  width:94%;
  height:110px;
  margin-top:6px;
  padding:0 10px;
  display: flex;  /* 设置弹性盒 */
  justify-content: space-between; /* 设置两端对齐 */
}



#tab-bar.demo {
  display: flex;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}
.am-navbar{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  background-color:blue;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  color: #fff;
}
.one{
  border-radius: 30px;
  margin-top:50px;
  overflow: hidden;
}
.div{
  background: blue;
}
.flex-container .inline {
  width: 80px!important;
  margin: 9px 9px 9px 0;
}
.tu{
  width: 95%;
  height: 70px;
  border-radius: 5px;
  padding-top: 5px;
}
.onetu{
  background: skyblue;
}
.size{
  color: gold;
}
.data3{
  width: 94%;
  height: 270px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
}

.rigte{
float: right;
margin-top: -30px;
color: cornflowerblue;
}
.clane{
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  border: 1px solid cornflowerblue;
}
.gider{
width:47%;
margin: 0 1%;
background:#fff;
float: left;
padding-bottom: 10px;
margin-top: 10px;
border-radius: 5px;
}
h4{
  float: left;
  margin-top: -2px;
  color: black;
}
.imgs{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-top: 10px;
}
.kscksan{
padding-top: 10px;
color: cornflowerblue;
}
.tuwen{
  width:30% ;
  background:#ccc ;
  margin: auto;
  border-radius: 5px;
  margin-right: 12px;
  padding-top: 10px;
  margin-bottom: 10px;
  height: 80px;
  float: left;
  
}
.hiege{
  margin-left: 3%;
  margin-top: 20px;
  
}
.hook{
  width: 94%;
  height: 50px;
  margin-left: 3%;
  background: orange;
  float: left;
  line-height: 50px;
 
}
.icon{
  float: left;
}
.origer{
  width: 94%;
  background: #fff;
  overflow: hidden;
  margin: auto;
  border-radius: 5px;
  padding-bottom: 20px;
}
.widhtspan{
  width: 80px;
  height: 3px;
  display: inline-block;
  background:#ccc;
  margin-top: -20px;
}
.tuwens{
  width:30% ;
  background:#ccc ;
  margin: auto;
  float: left;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 6px;
  padding-top: 5px;
  
}
.classul li{
  list-style: none;
  float: left;
  width: 40%;
  height: 30px;

}
.nices{
  width: 100%;
  margin: auto;
  background: #fff;
}
.classbutton{
  width: 50%;
  height: 30px;
  border-radius: 10px 0 10px 0;
  border:1px solid orange;
  background-color:transparent;
  margin-top: 20px;
  color: orange;
}
.flaot{
  overflow: hidden;
}